body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0068b7;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}